.url{
    word-wrap: break-word;
    max-width: 100%;
    margin-top: 2%;
}

/* Kb8H4tgfP1Q2NnR3nTe2G8:3:CL:272217:covID_PoC_vaccination   
esatus  
5zSjAUVLutZmATa97c5cNK:2:covID_PoC_Identity:1.05
5zSjAUVLutZmATa97c5cNK:3:CL:279629:covID_PoC_Identity */

/* esatus Kb8H4tgfP1Q2NnR3nTe2G8:2:covID_PoC_Vaccination:1.07
Kb8H4tgfP1Q2NnR3nTe2G8:3:CL:275028:covID_PoC_vaccination 


lissi y esatus
Kb8H4tgfP1Q2NnR3nTe2G8:3:CL:275065:covID_PoC_vaccination 
Kb8H4tgfP1Q2NnR3nTe2G8:2:covID_PoC_Vaccination:1.08*/